[alias]
	ap = !git add . && git commit --amend --no-edit && git push -f
	br = !git branch --merged develop | grep -v \"\\* develop\" | xargs -n 1 git branch -d
	pr = fetch --prune
	st = status
	stash = stash -u -k
	undo = reset --soft HEAD^
[commit]
	gpgsign = true
[core]
	autocrlf = true
	editor = code --wait
	eol = lf
	ignorecase = false
	pager = diff-so-fancy | less --tabs=4 -RFX  
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait -diff $LOCAL $REMOTE
[log]
	decorate = full
[merge]
	ff = only
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pull]
	rebase = true
[push]
	default = simple
	followTags = true
[rebase]
	autostash = true
[status]
	showUntrackedFiles = all
[stash]
	showPatch = true  
[user]
	name = Andreas Kull
	email = akullpp@googlemail.com
	signingkey = A062673F
  
