[advice]
    detachedHead = false
    statusAheadBehind = true
    statusHints = true

[alias]
    all = "!f() { ls -R -d */.git | xargs -I{} bash -c \"echo {} && git -C {}/../ $1\"; }; f"
    amend = commit --amend --no-edit
    apply = stash apply
    back = checkout -
    di = diff
    ll = log --oneline --decorate --graph --all
    ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Crese    t %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    master = "!git checkout master && git pull"
    pop = stash pop
    st = status
    stash = stash -u -k
    undo = reset --soft HEAD^

[blame]
    markIgnoredLines = true
    markUnblamables = true

[branch]
    autosetupmerge = true
    autosetuprebase = always

[clean]
    requireForce = false

[color]
    ui = true

[column]
    ui = auto

[commit]
    template = ~/.gitmessage
    verbose = true

[core]
    autocrlf = input
    editor = nvim
    filemode = false
    ignorecase = false
    pager = delta
    precomposeUnicode = true
    whitespace = fix

[credential]
    helper = manager

[delta]
    features = diff-so-fancy line-numbers decorations navigate
    navigate = true
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-decoration-style = none
    file-style = bold yellow ul

[diff]
    colorMoved = default

[format]
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[help]
    autocorrect = 1

[init]
    defaultBranch = master

[interactive]
    diffFilter = delta --color-only

[log]
    decorate = full

[merge]
    conflictstyle = diff3

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = simple
    followTags = true

[rebase]
    autostash = true

[rerere]
    enabled = true

[stash]
    showPatch = true

[status]
    showUntrackedFiles = all

[tag]
    sort = version:refname

[url "git@github.com:"]
    insteadOf = https://github.com/

[user]
    email = akullpp@gmail.com
    name = Andreas Kull
